/* src/DroplinePanel.module.css */

.dropline-panel {
  position: absolute;
  left: 50%;
  transform: translateX(-50%) var(--vertical-transform, translateY(0));
  opacity: 0;
  transition: transform var(--ov-anim) ease-out, opacity var(--ov-anim) ease-out;
  padding: 8px 12px;
  background-color: var(--ov-bg);
  border-radius: var(--ov-radius);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--ov-text);
  font-family: var(--ov-font);
  z-index: 10;
  width: fit-content;
  white-space: nowrap;
}

.on-top {
  top: 100%;
  margin-top: 5px;
  --vertical-transform: translateY(-20px);
}

.on-bottom {
  bottom: 100%;
  margin-bottom: 5px;
  --vertical-transform: translateY(20px);
}

.is-animated-in {
  opacity: 1;
  --vertical-transform: translateY(0);
}

.on-top::after {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid var(--ov-bg);
}

.on-bottom::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid var(--ov-bg);
}

.dropline-icon {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--ov-text);
  padding: 3px;
  border: 1px solid #61dafb;
  object-fit: contain;
}

.text-container {
  display: flex;
  flex-direction: column;
}

.text-line-1 {
  font-size: 0.9rem;
  font-weight: bold;
}

.text-line-2 {
  font-size: 0.8rem;
  color: var(--ov-text-muted);
}
